/**
 * Global Button Styles
 *
 */

 .btn {
    width: 100%;
    max-width: 16rem;
    font-size: var(--button-font-size);
    font-weight: var(--font-weight-bold);
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    border: 1px solid #000000;
    border-radius: 5px;
 }

 .btn-cta {

 }